.background_color {
    background-color: #445760;
}

.header {
    font-size: 80px;
}

.google {
    font-size: 70px;
    background-color: #445760;
    color: white;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.realboxContainer {
    display: inherit;
    margin-bottom: 16px;
    position: relative;
}

.input,button {
    text-align: center;
    size: large;
    width: 80px;
}