.background_color {
    background-color: #445760;
    color: white;
}

.header {
    font-size: 8px;
    color: black;
}

.link {

    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
li {
    margin: 0 10px;
}

.google {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 70px;
    background-color: #445760;
    color: white;
    margin-bottom: 25px;
    padding: 2rem 1rem;
    text-align: center;
}

.realboxContainer {
    display: inherit;
    margin-bottom: 16px;
    position: relative;
}

.input,button {
    text-align: center;
    size: large;

}