{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Your Stock Portfolio</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr {% if loop.index is even %} class="bg-light"{% endif %}>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["name"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ stock["price"] | usd }}</td>
                    <td>{{ stock["total_value"] | usd }}</td>
                    <td></td>
                    <td></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <th>Cash: {{ cash | usd }}</th>
    <th>Grand Total: {{ grand_total | usd }}</th>
{% endblock %}
